/*importing Google fonts below - assessed from embed code section*/
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

/*make the header viewport*/
header, footer {
    background-color: #230430;
    padding: 3rem;
    color: #F5F0F5;
    line-height: normal;
}

main{
    padding: 3rem;
    align-items: center;
}

body{
    font-family: "Be Vietnam Pro";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.02rem;
    line-height: 150%;
    color: #2F2F2F;
    background: #F5F0F5;
    text-align: justify;
}

/*Headings*/

h1{
    font-family: "Tourney";
    font-size: 4rem;
    font-weight: 200;
    padding-block-start: 9rem;
    text-align: center;
}

h2, h3 {
    font-family: "Aldrich";
    line-height: normal;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: -0.02rem;
}

h2{
    width: 50rem;
    background-color: #F5F0F5;
    color: #3C009D;
    padding: 2rem;
    text-align: center;
    position: sticky;
    border-radius: 0 3rem;
    border: 1px solid #C871F3;
}

h4{
    font-family: "Be Vietnam Pro";
    font-size: 0.9rem;
    font-weight: 300;
    color: #C871F3;
    text-transform: uppercase;
    text-align: start;
}

p{
    font-size: 1rem;
    width: 40rem;
}

/*Table*/
td{
    vertical-align: top;
}

blockquote{
    width: 35rem;
}
span{
    font-weight: 600;
    color: #3C009D;
}

.brand{
    color:#C871F3;
}

/*Class*/
.all_caps{
    font-weight: 600;
    text-transform: uppercase;
}

.author-link{
    color: #C871F3;
    text-decoration: underline;
}

.author-link:hover{
    color: #F5F0F5;
}

/* I wanna try something here, but can't figure out
.type-animation{
    position: relative;
    display:inline-block;
    font-size: 4rem; 
}

.type-animation span {
    position: absolute;
    inset-block-start: 6rem;
    inset-inline-start: 0;
    opacity: 0;
    animation: fadeinout 8s infinite;
}

.brand{
    color:#D47CDC;
}

.font1{
    font-family: "Playfair Display";
    animation-delay: 0s;
}

.font2{
    font-family: "PoetsenOne";
    animation-delay: 2s;
}

.font3{
    font-family: "Rampart One";
    animation-delay: 4s;
}

@keyframes fadeinout {
    0%, 15% {opacity: 1;}
    20%, 100% {opacity: 0;}
}

*/


/**:not(:first-child){margin-block-start: 1em;}*/