@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Russo+One&display=swap');

:root{
    --spacing: 1.5rem;
    --h1-font: "Russo One", sans-serif;
    --h3-font: "IBM Plex Sans Condensed", sans-serif;
    --body-font: "Be Vietnam Pro", sans-serif;

    --black: #1b0a13;
    --red: #cd0011;
    --dark-red: #720009;
    --yellow: #b66a00;
    --dark-yellow: #65400b;
    --turquose: #0a97aa;
    --white: #c4d7da;
}

html{scroll-behavior: smooth;}

body {
    background: var(--black);
}


h1,
h2,
h3 {
    color: var(--red);
    text-transform: uppercase;
    padding-inline: 4%;
}

h1 {
    font-family: var(--h1-font);
    font-size: calc(2.3*var(--spacing));
    padding-block: calc(2*var(--spacing));
}

h2 {
    font-family: var(--h1-font);
    font-size: calc(1.6*var(--spacing));
    padding-block-start: calc(4*var(--spacing));
}

h3 {
    font-family: var(--h3-font);
    font-size: calc(0.8*var(--spacing));
    padding-block-end: calc(0.3*var(--spacing));
    font-weight: 200;
}

p {
    font-family: var(--body-font);
    font-size: calc(0.7*var(--spacing));
    font-weight: 200;
    line-height: calc(1.3*var(--spacing));
    color: var(--white);
    padding-inline: 4%;
    padding-block-start: calc(1.4*var(--spacing));
    max-inline-size: 80ch;
}

header p {
    padding-block: initial;
}

blockquote {
    border: 0.01em solid var(--white);
    border-radius: 0 2em 0 2em;
    margin-inline: 16%;
    margin-block: calc(6*var(--spacing));
    max-inline-size: 50ch;
    position: relative;
    background: var(--black);
}

blockquote p {
    font-family: var(--h3-font);
    font-size: calc(0.9*var(--spacing));
    font-weight: 100;
    line-height: calc(1.4*var(--spacing));
    padding: calc(1.5*var(--spacing));
}

blockquote footer {
    color: var(--red);
    font-family: var(--h1-font);
    text-transform: uppercase;
    font-size: calc(0.7*var(--spacing));
    padding-inline: calc(1.5*var(--spacing));
    padding-block-end: calc(1.5*var(--spacing));
}

blockquote::before,
blockquote::after {
    position: absolute;
    color: var(--turquose);
    font-size: calc(15*var(--spacing));
    font-family: var(--h1-font);
    filter: blur(0.01em);
    z-index: -1;
}

blockquote::before {
    content: '“';
    top: -0.4em;
    left: -0.1em;
}

blockquote::after {
    content: '”';
    bottom: -0.9em;
    right: -0.1em;
}


.gradience-red {
    display: block;
    block-size: calc(8*var(--spacing));
    background: linear-gradient(var(--dark-red) 5%, var(--black));
}

.gradience-yellow {
    display: block;
    block-size: calc(8*var(--spacing));
    background: linear-gradient(var(--dark-yellow) 5%, var(--black));
    border-block-start: 0.01em solid var(--white);
}
    
.highlight {
    color: var(--turquose);
    font-weight: 400;
}

.bolded-text {
    font-family: var(--h3-font);
    font-size: calc(1*var(--spacing));
    color: var(--red);
    text-align: center;
    padding-block: calc(4*var(--spacing));
    padding-inline: 8%;
    font-weight: 300;
    line-height: calc(1.5*var(--spacing));
    max-inline-size: 50ch;
    margin-inline: auto;
}

.table {
    display: flex;
    flex-direction: column;
    gap: calc(2*var(--spacing));
    padding-block: calc(2*var(--spacing));
    border-block: 0.01em solid var(--white) 
}

ol {
    display: flex;
    flex-direction: row;
    gap: calc(1.2*var(--spacing));
    padding-inline: 4%;
}

a {
    text-decoration: underline;
    text-decoration-thickness: 0.06em;
    text-underline-offset: 0.3em;
}

a:hover {
    color: var(--turquose);
}

#yellow {
    color: var(--yellow);
}

#left-behind {
    font-size: calc(1.8*var(--spacing));
    font-weight: 800;
    color: var(--turquose);
    filter: blur(0.04em);
    text-align: center;
    line-height: calc(2*var(--spacing));
}

#adapt-move {
    font-family: var(--h3-font);
    font-size: calc(1*var(--spacing));
    color: var(--yellow);
    text-align: center;
    font-weight: 300;
    line-height: calc(1.5*var(--spacing));
    padding-block: var(--spacing);
}

.last-words {
    padding-block: calc(4*var(--spacing));
    /* padding-inline: 4%; */
}

#my-response {
    z-index: 6;
    
}

@media (width>800px) {

    :root {
        font-size: 110%;
    }

    h1,
    h2,
    h3,
    p,
    ol,
    blockquote p {
        padding-inline: 8%;
        margin-inline: auto;
    }

    table {
        flex-direction: row;
    }
}