@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Russo+One&display=swap');

:root{
    --spacing: 1.5rem;
    --h1-font: "Russo One", sans-serif;
    --h2-font: "Arial Narrow", Arial, sans-serif;
    --body-font: "Lato", sans-serif;

    --black: #2D2D2D;
    --green: #76EAD3;
    --pink: #D6ABFF;
    --orange: #FFAB73;
    --light-grey: #EEF2F6;
    --dark-grey: #d7dce2;
    --tab-color: #D1D7DD;

    background: var(--light-grey);
    color: var(--black);
    --border: 0.08rem;
}

html{scroll-behavior: smooth;}

h1 {
    font-family: var(--h1-font);
    font-size: calc(2.5*var(--spacing));
}

h2 {
    font-family: var(--h1-font);
    font-size: calc(2*var(--spacing));
    color: #970000;
}

p {
    font-family: var(--body-font);
    font-size: calc(0.8*var(--spacing));
    font-weight: 400;
    line-height: calc(1.5*var(--spacing));
    color: #8ea7ab;
}

body {
    padding: var(--spacing);
    background: #1F0303;
}

.word {
    font-family: var(--body-font);
    font-size: calc(0.8*var(--spacing));
    line-height: calc(1.3*var(--spacing));
    color: #0090a6;
}

/* 
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');



html {
    scroll-behavior: smooth;
}

:root {
    font-size: 125%;
}

header,
footer {
    background-color: #230430;
    padding-inline: 3rem;
    padding-block-start: 6rem;
    color: #F5F0F5;
    line-height: normal;

}

body {
    font-family: "Be Vietnam Pro";
    font-weight: 400;
    letter-spacing: -0.03rem;
    line-height: 2rem;
    color: #2F2F2F;
    background: #F5F0F5;
}



h1,
h2 {
    font-family: "Aldrich";
    font-size: 4rem;
    font-weight: 100;
    padding-block: 2rem;
    text-align: center;
}

h1 {
    font-size: 4rem;
    padding-block-start: 6rem;
    padding-block-end: 2rem;
}

h2 {
    font-size: 2rem;
    padding-block-start: 4.5rem;
    padding-block-end: 1rem;
}

h3,
h4 {
    font-family: "Aldrich";
    line-height: 1.8rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: -0.02rem;

    display: inline-block;
    max-inline-size: 34rem;
    padding-block: 1rem;
    text-align: start;
    position: sticky;
    top: 2rem;
    border-radius: 1.5rem 0rem;
    margin-inline: center;
}

h3 {
    color: #3C009D;
    border: 0.05rem solid #C871F3;
    inline-size: auto;
    background: #F5F0F5;
    padding-inline: 1.2rem;
}

h4 {
    color: #F5F0F5;
    background: #230430;
    padding-inline: 1.2rem;

}


p {
    font-size: 1rem;
    max-inline-size: 35rem;
    padding-block-start: 3rem;
    margin-inline: auto;
}


table {
    max-inline-size: 80rem;
    inline-size: 100%;
    vertical-align: top;
    border-block-start: 0.05rem solid #F5F0F5;
    border-collapse: collapse;
    table-layout: fixed;
    margin-inline: auto;
}

th {
    padding-block-start: 2rem;
    font-size: 0.8rem;
    font-weight: 300;
    color: #C871F3;
    text-transform: uppercase;
    margin-block-end: 0.3rem;
}

td {
    padding-block-start: 0.5rem;
    vertical-align: top;
    color: #F5F0F5;
    text-align: left;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 150%;
    padding-block-end: 2rem;
}


blockquote {
    max-inline-size: 35rem;
    border-inline-start: 0.3rem solid #C871F3;
    margin-block-start: 3rem;
    padding-inline-start: 2rem;
    font-size: 1.2rem;
    color: #3C009D;
    font-weight: 500;
    margin-inline: auto;
}

article {
    margin-block-start: 4rem;
}


.author-link {
    color: #C871F3;
}

.author-link:hover {
    color: #F5F0F5;
}

.header {
    color: #C871F3;
    font-family: "Tourney";
    font-style: italic;
}


.about-author {
    inline-size: 29rem;
    white-space: normal;
    text-align: justify;
}

.year {
    text-align: end;
}

.my-response {
    background: #E1D8E6;
}

.columns {
    max-inline-size: 80rem;
    inline-size: 100%;
    padding: 3rem;
    margin-inline: auto;
}

.col {
    display: inline-block;
    vertical-align: top;
}

.title {
    inline-size: 40%;
    position: sticky;
    top: 2rem;
}

.text {
    inline-size: 55%;
    margin-inline-start: 2rem;
}

.word {
    padding-block: 0.1rem;
    text-align: center;
    margin-inline: center;
    background: #C871F3;
    border-radius: 0.5rem 0rem;
    padding-inline: 0.4rem;
}


.blur {
    filter: blur(0.14rem);
    font-size: 4.25rem;
    color: #230430;
    opacity: 20%;
    font-weight: 800;
    position: absolute;
    padding-block-end: 4rem;
}
 */
