/*importing Google fonts below - assessed from embed code section*/
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bitcount+Grid+Double+Ink:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


header, footer {
    background-color: #220F21;
    padding: 3rem;
    color:#F9F7F9;
}
main{
    padding: 3rem;
}

body{
    font-family: "Be Vietnam Pro";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.02rem;
    line-height: 150%;
    color: #2F2F2F;
    background: #F9F7F9
}

h1, h2, h3 {
    font-family: "Playfair Display";
    line-height: normal;
}

h1{
    font-size: 4rem;
    font-weight: 500;
    color: #D47CDC;
    padding-block-start: 6rem;
}

h2, h3{
    font-size: 2rem;
    font-weight: 600;
}

h2{
    background-color: #EEE2EC;
}

h4{
    font-family: "Be Vietnam Pro";
    font-size: 0.9rem;
    font-weight: 300;
    color: #D47CDC;
    text-transform: uppercase;
    text-align: start;
}

p{
    font-size: 1rem;
    width: 40rem;
}

/*Table*/
td{
    vertical-align: top;
}

blockquote{
    width: 35rem;
}
span{
    font-weight: 600;
    color: #9A1B93;
}

/*Class*/
.all_caps{
    font-weight: 600;
    text-transform: uppercase;
}

.author-link{
    color: #D47CDC;
    text-decoration: underline;
}

.author-link:hover{
    color: #F9F7F9
}

*:not(:first-child){margin-block-start: 1em;}